.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
    margin: 50px;
}

.btn-proceed{
    background-color: #FF9900;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    font-size:18px;
    margin: 10px auto ;
    color: white;
}

.proceed-link{
    text-decoration: none;

}